.about-section {
    padding-top: 40px;
    background: linear-gradient(135deg, #1c1f24, #2d3b45, #000000); 
    color: #dfe1e5; 
    text-align: center;
    height: 82vh;  /* Full screen height */
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative; 
    overflow: hidden; 
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px auto;
}
