body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1c1f24;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo h1 {
    color: #dfe1e5;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin-left: 20px;
}

.nav-links ul li a {
    color: #dfe1e5;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.nav-links ul li a:hover {
    color: #58a6ff;
    transform: scale(1.05);
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #000450;
    margin-bottom: 20px;
    text-align: center;
}

fieldset {
    margin-bottom: 20px;
}

label {
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus, textarea:focus {
    border-color: #58a6ff;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #58a6ff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007bff;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1c1f24;
    color: #dfe1e5;
    margin-top: 40px;
}

.footer-text a {
    color: #58a6ff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.footer-text a:hover {
    color: #ff6b6b;
    text-decoration: underline;
    transform: scale(1.05);
}
