@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.confetti {
  position: fixed;
  width: 12px;
  height: 12px;
  background-color: rgb(97, 5, 5);
  top: -50px;
  animation: fall linear forwards, fadeOut ease-out forwards; /* Add fadeOut */
}

@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 1;
  }
}

body {
  background: linear-gradient(135deg, #1c1f24, #2d3b45, #000000);
  font-family: "Poppins", sans-serif;
  color: #dfe1e5; /* Light text color */
  margin: 0; /* Remove default margin */
  overflow: hidden;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  height: calc(100vh - 60px); /* Adjust height for footer */
}

.badge img {
  width: 250px; /* Adjust image size as needed */
  height: 250px;
}

.badge img:hover {
  transform: scale(1.1); /* Zoom in on hover */
}

/* Hover effect for text */
.badge-details h2:hover {
  color: #e8d07e;
  transition: color 0.3s ease-in-out;
}

.badge-details {
  text-align: center;
  margin-top: 15px; /* Adjust spacing */
}

.badge-details h2 {
  font-size: 24px; /* Increase heading size */
  margin-bottom: 5px; /* Add spacing between heading and text */
  color: #fff; /* White heading for better contrast */
}

.badge-details p {
  font-size: 18px; /* Adjust paragraph size */
  margin: 0; /* Remove default margin for tighter spacing */
}

.badge-details strong {
  color: #e8d07e; /* Accent color for awardee email */
}

.download-card {
  margin-top: 20px; /* Adjust margin for spacing */
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #58a6ff; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease; /* Transition effect */
}

.download-button:hover {
  background-color: #4183c4; 
}

footer {
  text-align: center;
  padding: 14px;
  background: linear-gradient(135deg, #1c1f24, #2d3b45, #000000);
  color: #dfe1e5;
  position: relative; 
  width: 100%;
  border-top: 3px solid #58a6ff;
}

footer p {
  margin: 0; 
  font-weight: 900;
}
footer a{
  color: #4183c4;
  font-weight: 900;
}
