/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

/* Base Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4; /* Light background */
  color: #333; /* Dark text color */
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Theme Styles */
body.dark-theme {
  background: linear-gradient(135deg, #1c1f24, #2d3b45, #000000);
  color: #dfe1e5; /* Light text color */
}

/* Header Styles */
header {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #1c1f24; /* Dark background */
  border-bottom: 2px solid #58a6ff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  color: #dfe1e5;
  font-weight: 900;
}

nav {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links ul li {
  margin-left: 20px;
}

.nav-links ul li a {
  color: #dfe1e5;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links ul li a:hover {
  color: #58a6ff;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  width: 100%;
  height: 120px;
}

.sidebar a {
  width: 100%;
  height: 120px;
  display: block;
}

.menu-btn {
  display: none;
}

/* Contact Page Styles */
.contact-page {
  background-color: #f4f4f4; /* Light background for better contrast */
  padding: 20px; /* Optional padding for layout enhancement */
}

.contact-page .contact-text {
  color: #333333; /* Dark gray text color for readability */
  font-size: 16px; /* Adjust font size if needed */
  line-height: 1.5; /* Optional for better text spacing */
}

.contact-page .contact-text a {
  color: #007BFF; /* Ensure links are a distinct color */
  text-decoration: underline; /* Keep links underlined for clarity */
}

.contact-page .contact-text a:hover {
  color: #0056b3; /* Darker shade on hover for interactive feedback */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .hideOnMobile {
    display: none;
  }
}

/* Footer Styles */
footer {
  min-height: 15vh;
  text-align: center;
  padding: 40px;
  background: linear-gradient(135deg, #1c1f24, #2d3b45, #000000);
  color: #dfe1e5;
  width: 100%;
  border-top: 3px solid #58a6ff;
}

footer p {
  font-weight: 900;
}

footer a {
  color: #4183c4;
  font-weight: 900;
}

/* Share Section */
.share-section {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 34px;
}

.share-section p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 8px;
  font-weight: bold;
}

.share-button {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  border-radius: 50%;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.share-button.twitter {
  background-color: #1da1f2;
}

.share-button.linkedin {
  background-color: #0077b5;
}

.share-button.facebook {
  background-color: #3b5998;
}

.share-button:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
