*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #212529; /* Dark background */
    color: #dfe1e5; /* Light text color */
    font-family: sans-serif; /* Choose a modern font */
    margin: 0; /* Remove default margin */
  }

  .badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #343a40; /* Darker background for the badge */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    height: 100vh;
  }

  .badge img {
    width: 250px; /* Adjust image size as needed */
    height: 250px;
  }

  .badge-details {
    text-align: center;
    margin-top: 15px; /* Adjust spacing */
  }

  .badge-details h2 {
    font-size: 24px; /* Increase heading size */
    margin-bottom: 5px; /* Add spacing between heading and text */
    color: #fff; /* White heading for better contrast */
  }

  .badge-details p {
    font-size: 18px; /* Adjust paragraph size */
    margin: 0; /* Remove default margin for tighter spacing */
  }

  .badge-details strong {
    color: #e8d07e; /* Accent color for awardee email */
  }